<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This or That</title>
</head>
<body>
    <h5><a href="login/?next={{request.path}}">login</a></h5><br>
    <h5><a href="register">register</a></h5><br>
    <h5><a href="logout">logout</a></h5><br>
    <h1>{% for message in messages %}
        {{message}}
        {% endfor %}</h1>
</body>
</html>
